<template>
    <div>
        <div id="Wrapper">
            <b-steps>
                <b-step-item
                    :key="0"
                    label='Enter name'> 
                    <p style="margin-top: 50px">Please enter your name: </p>
                    <div class="nameField">
                        <b-field label="Name">
                            <b-input v-model="speakerName"></b-input>
                        </b-field>
                    </div>
                </b-step-item>
                <template v-for="(step, index) in steps">
                    <b-step-item
                        :key="index + 1"
                        :label="step.label">
                        <p>Click on record button and say: </p>
                        <p style="font-size: 20px">{{step.content}}</p>
                        <b-button 
                            class="rec"
                            style="margin: 100px"
                            size="is-large"
                            @click="onRecordClick(index)"
                            rounded
                            :icon-right="recordIcon[Number(recording[index])]"
                        >
                        </b-button>
                    </b-step-item>
                </template>
                <b-step-item
                    :key="3"
                    label="Finish">
                    <b-button 
                        class="rec"
                        style="margin: 100px"
                        size="is-large"
                        @click="submit()"
                        rounded
                    >
                    Submit
                    </b-button>
                </b-step-item>
            </b-steps>
        </div>
    </div>
</template>

<script>
import Recorder from '../js/recorder'
import axios from 'axios'

let recorder = null;


export default {
    name: 'Enroll',
    data() {
        return {
            speakerName: '',
            steps: [
                {
                    label: 'Speech sample 1',
                    content: 'Xin chào, tôi là người Việt Nam, hiện tôi đang dùng thử sản phẩm của VinBDI'
                },
                {
                    label: 'Speech sample 2',
                    content: 'Tôi đang thử nghiệm hệ thống nhận diện người nói. Hệ thống này được phát triển bởi team NLP'
                }
            ],
            files: ['', ''],
            emptyFiles: [],
            recording: [false, false],
			recordIcon: ['microphone', 'stop']
        }
    },
    methods: {
        submit: function() {
            this.emptyFiles = []
            for (let i = 0; i < this.files.length; i++)
                if (this.files[i] == '')
                    this.emptyFiles.push(i);
            if (this.speakerName == ''){
                this.$buefy.toast.open(`You have to enter your name first!`)
                return;
            }
            if (this.emptyFiles.length == 1){
                this.$buefy.toast.open(`You have to record speech sample number ${this.emptyFiles[0] + 1} first!`)
            }
            else if (this.emptyFiles.length == 2)
                this.$buefy.toast.open(`You have to record all the speech samples first!`)
            else{ 
                axios.post(process.env.VUE_APP_API_URL + '/enroll', {
                    name: this.speakerName,
                    files: this.files
                }).then((res) => {
                    console.log(res.data.msg);
                    this.$buefy.toast.open("Successfully enrolled!")
                    this.$router.push({name: 'Home'})
                })
            }
        },
        onRecordClick: function(index) {
            this.recording[index] = !this.recording[index];
			if (this.recording[index]){
				recorder.clear();
				recorder.record();
			}
			else{
				recorder.stop();
				this.recorded = true
				recorder.exportWAV((blob) => {
					const formData = new FormData()
					var filename = new Date().toISOString();
					formData.append('file', blob, filename + '.wav')
					axios.post(
						process.env.VUE_APP_API_URL + '/upload', 
						formData,{
							headers: {
								'Content-Type': 'multipart/form-data'
							}
					}).then((res) => {
                        this.files[index] = res.data.filename
					})
				})
            }
        }
    },
    beforeMount: function() {
        navigator.mediaDevices.getUserMedia({audio: true, video: false}).then((stream) => {
			var AudioContext = (window.AudioContext || window.webkitAudioContext)
			var audioContent = new AudioContext({sampleRate: 16000});
			var streamSource = audioContent.createMediaStreamSource(stream);

			recorder = new Recorder(streamSource, {numChannels: 1})
		})
    }
}
</script>

<style scoped>
.nameField{
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: left;
    width: 500px;
}
</style>