<template>
	<div id="app">
		<router-view></router-view>	
	</div>
</template>

<script>
export default {
	name: 'App',

	components: {
	},

	data: () => ({
	}),
}
</script>

<style src="@/css/styles.css">
</style>

<style>
@import url('https://fonts.googleapis.com/css?family=Roboto:200,300');
#app {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
  color: #808080;
  margin-top: 100px;
}

.myButton{
	margin: 100px;
}

.rec{
	animation-name: pulse;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
</style>